body {
    font-family: 'Inter', sans-serif;
}

.detail-page .card {
  background-color: #f7f7f7;
  border: 3px solid #ccc;
  border-radius: 10px;
  width: 950px;
  height: 430px;  
  display: flex;
  flex-direction: row;  
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.detail-page .card-img {
    max-width: 300px;
    max-height: 300px;
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
    margin-left: 50px;
    margin-top: 47px;
}

.detail-page .card-content {
  display: flex;
  flex-direction: column; 
  margin-top: 100px;
  /* justify-content: space-between; */
}