<html lang="en">
<head>
    <title>RIP</title>
    <link rel="stylesheet" href="/resources/styles/order_style.css">
    <link rel="stylesheet" href="/resources/styles/index_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="detail-page-2">
<header>
    <h1>
        <a href="/litscan" class="brand">L I T S C A N</a>
    </h1>
</header>
<section class="analysis">
    <div class="analysis__markers">
        <h2 class="analysis__title">Укажите маркеры анонимного текста</h2>
        <form class="markers-form">
            <div class="form-group">
                <label for="avg-word-len">Средняя длина слова</label>
                <input
                    type="number"
                    name="avgWordLen"
                    placeholder="например, 5.15"
                />
            </div>
            <div class="form-group">
                <label for="lexical-diversity">Лексическое разнообразие</label>
                <input
                    type="number"
                    name="lexicalDiversity"
                    placeholder="например, 0.28"
                />
            </div>
            <div class="form-group">
                <label for="conj-frequency">Частота союзов</label>
                <input
                    type="number"
                    name="conjunctionFreq"
                    placeholder="например, 0.075"
                />
            </div>
            <div class="form-group">
                <label for="avg-sent-len">Средняя длина предложения</label>
                <input
                    type="number"
                    name="avgSentenceLen"
                    placeholder="например, 9.89"
                />
            </div>
        </form>
    </div>
    <div class="analysis__result">
        <h2 class="analysis__title">Результат</h2>
        <div class="result-box">
            <label><span class="result"></span></label>
        </div>
    </div>
</section>
<div class="services-header">
    <div class="header-title">Название</div>
    <div class="header-word">Дл. слова</div>
    <div class="header-lex">Лекс. разн.</div>
    <div class="header-conj">Союзы</div>
    <div class="header-sent">Дл. предл.</div>
    <div class="header-desc">Описание</div>
</div>
<section class="works">
    <div class="container">
        {{range .BooksLink}}
        <div class="card">
            <img class="card-img" src="{{.Book.Image}}" alt="">
            <h3 class="card-title">{{.Book.Title}}</h3>
            <div class="card-content">
                    <div>
                    {{ printf "%.2f" .Book.AvgWordLen }}
                    </div>
                    <div>
                    {{ printf "%.2f" .Book.LexicalDiversity }}
                    </div>
                    <div>
                    {{ printf "%.3f" .Book.ConjunctionFreq }}
                    </div>  
                    <div>
                    {{ printf "%.2f" .Book.AvgSentenceLen }}
                    </div>
            </div>
            <a class="btn btn-more" href="/book/{{ .Book.ID }}">Подробнее...</a>
            <div 
                class="editable-card" 
                contenteditable="true"    
                placeholder="Введите текст..."
                >
            </div>
        </div>
        {{ end }}
    </div>
</section>
<div class="appl-delete-button">
    <form action="/order/{{ .ID }}/delete" method="POST">
        <button class="card-button" type="submit">Удалить заявку</button>
    </form>
</div>

</body>    
</html>