<html lang="en">
<head>
    <title>RIP</title>
    <link rel="stylesheet" href="/static/styles/order_style.css">
    <link rel="stylesheet" href="/static/styles/index_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="detail-page-2">
<header>
    <h1>
        <a href="/litscan" class="brand">L I T S C A N</a>
    </h1>
</header>
<section class="analysis">
    <div class="analysis__markers">
        <h2 class="analysis__title">Укажите маркеры анонимного текста</h2>
        <form class="markers-form">
            <div class="form-group">
                <label for="avg-word-len">Средняя длина слова</label>
                <input
                    type="number"
                    id="avg-word-len"
                    value="{{.AvgWordLen}}"
                    name="avgWordLen"
                    step="0.01"
                    placeholder="например, 5.15"
                />
            </div>
            <div class="form-group">
                <label for="lexical-diversity">Лексическое разнообразие</label>
                <input
                    type="number"
                    id="lexical-diversity"
                    value="{{.LexicalDiversity}}"
                    name="lexicalDiversity"
                    step="0.01"
                    placeholder="например, 0.28"
                />
            </div>
            <div class="form-group">
                <label for="conj-frequency">Частота союзов</label>
                <input
                type="number"
                id="conj-frequency"
                value="{{.ConjunctionFreq}}"
                name="conjunctionFreq"
                step="0.001"
                placeholder="например, 0.075"
                />
            </div>
            <div class="form-group">
                <label for="avg-sent-len">Средняя длина предложения</label>
                <input
                type="number"
                id="avg-sent-len"
                value="{{.AvgSentenceLen}}"
                name="avgSentenceLen"
                step="0.01"
                placeholder="например, 9.89"
                />
            </div>
        </form>
    </div>
    <div class="analysis__result">
        <h2 class="analysis__title">Результат</h2>
        <div class="result-box">
            <label><span class="result">{{.Result}}</label>
          <!-- сюда будет вывод анализа -->
        </div>
    </div>
</section>
<div class="services-header">
    <div class="header-title">Название</div>
    <div class="header-word">Дл. слова</div>
    <div class="header-lex">Лекс. разн.</div>
    <div class="header-conj">Союзы</div>
    <div class="header-sent">Дл. предл.</div>
    <div class="header-desc">Описание</div>
</div>
<section class="works">
    <div class="container">
        {{ range $Book := .Books }}
        {{ range $param := $.BooksInApplication }}
        {{ if eq $param.BookId $Book.ID }}
        <div class="card">
            <img class="card-img" src="{{$Book.ImageUrl}}" alt="">
            <h3 class="card-title">{{$Book.Title}}</h3>
            <div class="card-content">
                <!-- <h3 class="card-title">{{$Book.Title}}</h3> -->
                <!-- <p class="card-description">{{ $Book.Description }}</p> -->
                <!-- <div class="card-markers"> -->
                    <div>
                    <!-- <strong>Средняя длина слова:</strong> -->
                    {{ printf "%.2f" $Book.AvgWordLen }}
                    </div>
                    <div>
                    <!-- <strong>Лексическое разнообразие:</strong> -->
                    {{ printf "%.2f" $Book.LexicalDiversity }}
                    </div>
                    <div>
                    <!-- <strong>Частота союзов:</strong> -->
                    {{ printf "%.3f" $Book.ConjunctionFreq }}
                    </div>  
                    <div>
                    <!-- <strong>Средняя длина предложения:</strong> -->
                    {{ printf "%.2f" $Book.AvgSentenceLen }}
                    </div>
                <!-- </div> -->
            </div>
            <a class="btn btn-more" href="/book/{{ $Book.ID }}">Подробнее...</a>
            <div 
                class="editable-card" 
                contenteditable="true" 
                placeholder="Введите текст..."
                >{{ $param.Description }}
            </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>

<!-- <footer>
    <div><p class="footer-text">©2025. Все права защищены.</p>></div>>
</footer> -->
</body>    
</html>
